
header {
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(to right, hsla(229, 78%, 15%, 0.459), hsla(229, 78%, 15%, 0.664)), url(/assets/imagen.jpg);
    background: linear-gradient(to right, hsla(229, 78%, 15%, 0.459), hsla(229, 78%, 15%, 0.664)), url(/assets/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-color: hsl(229, 78%, 15%);
}
.imagenes{
    border-style: solid;
    border-width: 1px;
    border-color: #081344;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
}
.menu{
    height: 70px;
    font-size: 16px !important;
    font-weight: 500;
    background-color: #fff;

}
.menu a{
    margin-left: 60px;
}
.titulo {
    padding-top: 50px;
    color: #081342;
    font-weight: bold;
    font-size: 36px !important;

}

.img-fluid{
    margin-top: 2px;
    height: 42px !important;
    width: 80px !important;
    top: 10px !important;
    position: absolute;
}
.portafolio {
    background-color: #e2e2e2f3;
    padding-top: 70px;
    padding-bottom: 70px;
}
nav{
    text-align: right;
    padding: 25px 50px 0 0;

}

nav > a{
    color:rgb(0, 0, 0);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    padding: 10px;
}

.menu a:hover{
    border-style: solid;
    border-color: #081342;
    border-width: 1px;
    padding: 10px;
}

.textos-header{
    display: flex;
    height: 130px;
    width: 100%;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    text-align: left;
}
.btn-icon{
    height: 100px !important;
    width: 100px !important;
    margin: 10px;
    border-radius: 50%;
}

.btn-hablemos {
    width: 219px;
    height: 54px;
    border-radius: 4px;
    border-color: #1DA8BC;
    color: #fff;
    font-size: 20px !important;
    font-weight: bold;
}
.btn-hablemos:hover {
    background-color: #1DA8BC !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 0 !important;
}
.btn-comentario {
    width: 269px;
    height: 54px;
    border-radius: 4px;
    border-color: #1DA8BC;
    color: rgb(255, 255, 255);
    font-size: 20px !important;
    font-weight: bold;
    background-color: #1DA8BC;
}
.btn-comentario:hover {
    background-color: #ffffff !important;
    color: #1DA8BC!important;
    font-weight: 0 !important;
}
.logos{
    display: flex;
    width: 453px;
    height: 58px;
    font-size: 16px !important;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.comentar {
    border: #696969;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #FFF;
    padding: 20px;
    padding-bottom: 40px !important;
    margin-bottom: 0px !important;
}
.vJyde {
    width: 111px;
    height: 56px;
    min-width: min-content;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}
.footer{
    background-color: #081344;

}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

main .pf-1{
    padding: 30px 0 60px 0;
}
.container-pf-1{
    display: flex;
    justify-content: space-evenly;
    
}

.imagen1{
    width: 48%;
}

.pf-1 .container-txt{
    width: 100%;
    text-align: center;
}

.frase{
    color:rgb(0, 0, 0);
    height: 200px;
    padding: 0%;
    justify-content: center;
    position: absolute;
    padding-top: 50px;
    border-radius: 50%;
}

.img-parrafo{
    color:rgb(0, 0, 0);
    height: 500px;
    padding: 0%;
    justify-content: center;
    right: 50px !important;
    position: absolute;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px !important;

}



.container-txt p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    text-align: center;
    width: 500px;
}
.btn-wsp{
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 65px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

.info{
    display: flex;
    flex-wrap: wrap;
    text-align: left !important;
}

.info{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.fondo-form {
    background-image:url(/assets/imagen.jpg) ;
    background-size: cover;
    position: relative;
}

.btn1:hover{
    background: #ffffff;
    border-width: 1px;
    border: #1DA8BC;
    border-style: solid;
    background-image: url(/assets/icon-ventajas/solucion.png);
    background-size: cover;
    position: relative;
    padding: 20px;
    color: transparent;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.459);
}

.contactar{
    min-width: 600px;
}
.btn1{
    background: #1DA8BC;
    font-size: 40px;
    font-weight: 700;
}
.btn2:hover{
    background: #ffffff;
    border-width: 1px;
    border: #80CFE1;
    border-style: solid;
    background-image: url(/assets/icon-ventajas/solucion.png);
    background-size: cover;
    position: relative;
    padding: 20px;
    color: transparent;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.459);
}

.btn2{
    background: #80CFE1;
    font-size: 40px;
    font-weight: 700;
}
.btn3:hover{
    background: #ffffff;
    border-width: 1px;
    border: #80CFE1;
    border-style: solid;
    background-image: url(/assets/icon-ventajas/solucion.png);
    background-size: cover;
    position: relative;
    padding: 20px;
    color: transparent;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.459);
}
.btn3{
    background: #80CFE1;
    font-size: 40px;
    font-weight: 700;
}
.btn4{
    background: #081342;
}
.btn5:hover{
    background: #ffffff;
    border-width: 1px;
    border: #1DA8BC;
    border-style: solid;
    background-image: url(/assets/icon-ventajas/solucion.png);
    background-size: cover;
    position: relative;
    padding: 20px;
    color: transparent;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.459);
}
.btn5{
    background: #1DA8BC;
    font-size: 40px;
    font-weight: 700;
}
.btn6:hover{
    background: #ffffff;
    border-width: 1px;
    border: #1DA8BC;
    border-style: solid;
    background-image: url(/assets/icon-ventajas/solucion.png);
    background-size: cover;
    position: relative;
    padding: 20px;
    color: transparent;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.459);
}
.btn6{
    background: #1DA8BC;
    font-size: 40px;
    font-weight: 700;
}
.btn7:hover{
    background: #ffffff;
    border-width: 1px;
    border: #80CFE1;
    border-style: solid;
    background-image: url(/assets/icon-ventajas/solucion.png);
    background-size: cover;
    position: relative;
    padding: 20px;
    color: transparent;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.459);
}
.btn7{
    background: #80CFE1;
    font-size: 40px;
    font-weight: 700;
}

.info1{
    background: #ffffff;
    border-width: 1px;
    border: #1DA8BC;
    border-style: solid;
    text-align: left !important;

}
.info2{
    background: #ffffff;
    border-width: 1px;
    border: #80CFE1;
    border-style: solid;
}
.info3{
    background: #ffffff;
    border-width: 1px;
    border: #80CFE1;
    border-style: solid;
}
.info4{
    background: #ffffff;
    border-width: 1px;
    border: #1DA8BC;
    border-style: solid;
}
.info5{
    background: #ffffff;
    border-width: 1px;
    border: #1DA8BC;
    border-style: solid;
}
.info6{
    background: #ffffff;
    border-width: 1px;
    border: #80CFE1;
    border-style: solid;
}

.card {
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
  
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.459);
}
  
  

.tarjeta-informacion:hover {
    transform: scale(1);
}
.tarjeta-informacion {
    margin-left: 100px;
    padding-top: 30px;
    border-radius: 6px;
    text-align: left;
   
}


.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: hsl(160, 81%, 60%);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(23, 32, 42, 0.6);
}
.about-services{
    margin-top: 100px;
    margin-bottom: 100px;
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}



.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 20%;
    text-align: center;
    letter-spacing: -0.05em;
}


.servicio-ind p{
    margin-top : 10px;
    font-weight: 300;
    color:  #696969;
    font-weight: 400;
    text-align: center !important;
   
}


@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }


    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }


    .imagen-port{
        width: 95%;
    }

  



    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }


    
}