<header>
  <nav>
      <a href="#">Inicio</a>
      <a href="#">Ayuda</a>
      <a href="#">Servicios</a>
      <a href="#">Contacto</a>
  </nav>

  <section class="textos-header">
      <h1>Grupo Imex</h1>
      <h2>Bienvenido a nuestra pagina oficial</h2>
  </section>

  <div class="wave" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"  style="stroke: none; fill: #2c2c2c;">
      </path>
    </svg>
  </div>
</header>

<div class="home">
  <main>
    <section class="container pf-1">
      <h2 class="titulo">Titulo1</h2>
      <div class="contenedor-pf-1">
        <div class="container-txt">
          <h3><span>1</span></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum perspiciatis veritatis in incidunt rerum molestiae eveniet eligendi, libero accusantium, nulla ipsam quod. Impedit odit sit harum, omnis adipisci sunt doloremque? </p>
        </div>
      </div>
    </section>


    <section class="about-services">
      <div class="container">
        <h2 class="titulo">Titulo2</h2>
        <div class="servicio-cont">
          <div class="servicio-ind">
            <img src="" alt="">
            <h3>Subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maxime optio nulla recusandae? Atque quasi magnam mollitia molestiae eveniet minima commodi molestias incidunt recusandae quos. Error minus odio obcaecati? Corrupti?</p>
          </div>
          <div class="servicio-ind">
            <img src="" alt="">
            <h3>subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi iste modi voluptates explicabo aliquam. Quo cupiditate itaque sint? Ex consequuntur nostrum veniam itaque, dolores eum quas dolorem maiores deserunt qui!</p>
          </div>
          <div class="servicio-ind">
            <img src="" alt="">
            <h3>subtitulo </h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem aperiam quidem, cupiditate eveniet cum numquam iure aliquam saepe commodi dolor quibusdam, tenetur, maxime eos placeat repellat voluptatem! Eligendi, ad repellat.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="clientes container">
      <h2 class="titulo">Nuestros clientes</h2>
      <div class="cards">
        <div class="card">
          <img src="imagenes/tipa1.JPEG" alt="">
          <div class="contenido-texto-card">
            <h4>user</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, sed accusamus reiciendis voluptatum perspiciatis numquam at repellendus suscipit? Dolores aliquam unde assumenda optio recusandae consequatur magnam error molestiae cumque omnis!</p>
          </div>
        </div>
        <div class="card">
          <img src="imagenes/tipa2.JPEG" alt="">
          <div class="contenido-texto-card">
            <h4>user</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vitae ipsum magni ducimus vel. Odit eos iure quam maxime nam excepturi incidunt, nobis animi magnam amet cupiditate rerum sint quae.</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <section class="portafolio">
    <div class="container">
      <h2 class="titulo">Log in</h2>
      <div class="galeria-port">
        <div class="imagen-port">
          <img src="" alt="">
          <div class="hover-galeria">
            <img src="" alt="">
            <p><a class="link" href="loginmedic.html">Ingresar</a></p>
            <a class="link" href="loginmedic.html"></a>
          </div>
        </div>
        <div class="imagen-port">
          <img src="imagenes/img2.png" alt="">
          <div class="hover-galeria">
            <img src="imagenes/icono1.png" alt="">
            <p><a class="link" href="Registrarse.html">Registrarse</a></p>
            <a class="link" href="Registrarse.html"></a>
          </div>
        </div>
      </div>
    </div>
  </section>   
</div>   