/* Globales -------------------------------------------------------------------- */

body{
    font-family: "Arial", Times, serif !important;
    background-color: #ffffff !important;
    font-size: 14px;
}
  
p{
margin: 0 !important;
}
  
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px !important;
}
  
.my-3{
    margin-top: 30px;
}
